@import "/style.css";


.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
}

.drawer{
    width: 100%;
    padding: 1rem 0;
}

.drawer .heading{
    margin: .5rem;
}

.stacked-list{
    border: none;
    background-color: white;
    width: auto;
}

.stacked-list .list-item{
    border-bottom: none;
    display: block;
    padding: .2rem;
    font-size: 1rem;
    margin: 0;
    text-align: left;
}

.list-item a{
    text-decoration: none;
    color: var(--default);
}

.sub-drawer{
    margin: auto;
}


.main-content{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: var(--white-section);
    padding: 0;
    width: 12rem;
    height: 15rem;
    flex: 1 1 auto;
}
.card-text{
    padding: 0 1rem;
}

.img{
    object-fit: cover;
    height: 70%;
    border-radius: 1rem 1rem 0 0;
}

.btn{
    padding: 0;
}

