@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.logo{
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}

.nav-search{
    padding: .2rem;
}

.simple-navigation{
    background-color: #7f1d1d;
    border-bottom: 1px solid var(--badge-offline);
}

.nav-list{
    font-size: 1rem;
    width: auto;
}

.nav-list .list-item{
    font-size: 1.2rem;
    color: white;
}

.material-icons{
    position: relative;
}

.header-text{
    position: absolute;
}

.user{
    top: 3.5rem;
    right: 11.5rem;
}

.heart{
    top: 3.5rem;
    right: 6.3rem;
}

.cart{
    top: 3.5rem;
    right: 2.5rem;
}

.nav-search{
    padding-right: 8rem;
}

.sub-container{
    display: flex;
}

.deals{
    width: 100%;
}

.img-size{
    margin: 0;
    object-fit: cover;
    height: auto;
}

.main-footer{
    background-color: #7f1d1d;
}
