@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #7f1d1d;
  --secondary-color: #f8fafc;
}

.margin-0{
  margin: 0;
}

.margin-bottom-0_5{
    margin-bottom: 1rem;
}

.padding-0{
  padding: 0;
}

/* Nav */
.logo {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
}

.nav-search {
  padding: 0.2rem;
}

.simple-navigation {
  background-color: var(--primary-color);
}

.simple-navigation .list-item{
  color: var(--secondary-color);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  width: auto;
}

.nav-list .list-item {
  font-size: 1.2rem;
}

.icons{
  position: relative;
  color: var(--secondary-color);
}

.icons a{
  color: var(--secondary-color);
}

.material-icons{
  margin: 0 1.5rem;
}

.badge, .header-text, .num-items{
  position: absolute;
}

.profile .header-text{
  top: 1.5rem;
  left: 0.5rem;
}

.wishlist .header-text{
  top: 1.5rem;
  left: 5.3rem;
}

.cart .header-text{
  top: 1.5rem;
  right: 1.3rem;
}

.wishlist .badge{
  top: -1rem;
  right: 3.5rem;
}

.cart .badge, .cart .num-items{
  top: -1rem;
  right: -1.3rem;
}

.wishlist .num-items{
  color: var(--primary-color);
  top: -1rem;
  right: 5.5rem;
}

.cart .num-items{
  color: var(--primary-color);
  top: -1rem;
  right: 0.7rem;
}

.nav-search {
  padding-right: 8rem;
}

.sub-container {
  display: flex;
}

/* Header */

.head{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.head .home, .head .product{
    text-decoration: none;
    color: var(--primary-color);
}

.head .logout{
  text-decoration: none;
  color: var(--primary-color);
}

/* Footer */
.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.footer-link .header{
  text-align: center;
}

.main-footer .footer-link .header,
.main-footer .stacked-list .list-item .link {
  color: var(--secondary-color);
}

.main-footer .stacked-list {
  background-color: var(--primary-color);
}

.main-footer .retina {
  display: flex;
  margin: 2rem;
  width: 20rem;
}

.main-footer .retina .img-size {
  object-fit: cover;
  margin: 0;
  width: 3rem;
  height: 3rem;
}

.main-footer .retina .text {
  font-size: 1rem;
  color: var(--secondary-color);
}

.stacked-list {
  border: none;
  background-color: white;
  width: auto;
}

.stacked-list .list-item {
  border-bottom: none;
  display: block;
  padding: 0.2rem;
  font-size: 1rem;
  text-align: left;
}

.list-item a {
  text-decoration: none;
}

@media screen and (max-width: 786px) {
  #items-disabled{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #mob-disabled{
    display: none;
  }
  .badge, .header-text{
    display: none;
  }
}